<h1>Optional Image</h1>
<%= form_with model: @post, url: request.fullpath, method: :patch do |form| %>
  <p>
    <%= form.label :image, "Optional image" %>
    <%= form.bard_file_field :image, accepts: "image" %>
  </p>

  <p><%= form.submit "Submit" %></p>
<% end %>

