<h1>Optional File</h1>
<%= form_with model: @post, url: "/validations" do |form| %>
  <p>
    <%= form.label :file, "Optional file" %>
    <%= form.bard_file_field :file %>
  </p>

  <p><%= form.submit "Submit" %></p>

  <div class="direct-upload-wrapper">
    <div class="direct-upload-content">
      <h3>Uploading your media</h3>
      <div id="progress-container"></div>
    </div>
  </div>
<% end %>

